#top {
    display: flex;
    justify-content: center;
    position: relative;
}

h1 {
    margin-top: 40px;
    font-weight: normal;
    text-align: center;
}

#add {
    position: absolute;
    right: 28%;
    top: 36px;
    border-radius: 20px;
    margin-top: 8px;
}