.left-home {
    float: left;
    width: 49%;
    height: 100vh;
    background-color: #58A187;
}

.left-home h1 {
    color: white;
    font-size: 50px;
    margin-top: 32%;
}

.left-home h2 {
    color: #F0F0F0;
    font-size: 24px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    
}

.right-home {
    float: right;
    background: url('../food.png') no-repeat;
    width: 50%;
    height: 100vh;
}

#start {
    font-size: 22px;
    color: black;
    background-color: #E5E5E5;
    border: 3px solid white;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 48px;
    margin-top: 10%;
}

#start:hover {
    background-color: #c4c4c4;
}

h1 {
    margin-top: 40px;
    font-weight: normal;
    text-align: center;
}

button {
    height: 36px;
    background-color: #58A187;
    color: white;
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    cursor: pointer;
}

input:focus, button:focus {
    outline: none;
}

#add {
    position: absolute;
    right: 28%;
    top: 36px;
    border-radius: 10px;
    margin-top: 8px;
}

.top {
    display: flex;
    justify-content: center;
    position: relative;
}

.top h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.top label {
    font-size: 20px;
    margin-left: 30%;
    display: block;
    text-align: left;
}

.top input[type="text"] {
    font-size: 20px;
    border-radius: 5px;
    border: solid 1px black;
    margin-bottom: 30px;
    width: 40%;
}

#popup-add {
    border-radius: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.left {
    float: left;
    margin-left: 8%;
    width: 33%;
}

figcaption {
    text-align: center;
    margin-top: 70px;
    font-size: 30px;
    margin-bottom: 45px;
}

img {
    height: 100%;
    width: 100%;
    border: solid 1px black;
}

#back {
    position: absolute;
    margin-left: 28px;
    margin-top: 20px;
    left: 0;
    border-radius: 10px;
}

.ingredient {
    float: right;
    height: 460px;
    width: 45%;
    margin-top: 80px;
    margin-right: 8%;
    border-top: 3px solid #58A187;
    border-bottom: 3px solid #58A187;
    text-align: left;
}

.ingredient h2 {
    font-size: 26px;
    margin-bottom: 16px;
    width: 45%;
}

li {
    font-size: 20px;
    color: #505050;
    padding-bottom: 10px;
}

#compare {
    border-radius: 10px;
    margin-top: 30px;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
    
}

#ingredientlist {
    max-height: 350px;
    overflow: scroll;
    width: 50%;
}

.missing {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 139px;
    margin-left: 72%;
    width: 20%;
}

.missing h2, .missing li {
    color: #FE0000;
    text-align: left;
}

.missing h2 {
    font-size: 26px;
    margin-bottom: 16px;
}

#missinglist {
    max-height: 350px;
    overflow: scroll;
}
