.rectable {
    max-height: 481px;
    overflow: scroll;
    margin-top: 40px;
}

#recipetable {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-spacing: 0;
    border: 2px solid darkgray;
    font-size: 20px;
    border-radius: 10px;
}

td#recipe-name {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    padding-left: 20px;
}

td a {
    text-decoration: none;
    color: black;
}

td a:hover {
    color: #58A187;
}