#searchbar {
    height: 30px;
    width: 44%;
    margin-top: 8px;
    border-radius: 20px;
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 18px;
    padding-left: 12px;
}
