#navbar {
    background-color: #58A187;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: white;
    margin-left: 30px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

.nav-buttons {
    font-size: 18px;
    margin-right: 45px;
}

.nav-buttons a {
    padding-left: 45px;
    padding-bottom: 40px;
    text-decoration: none;
    color: white;
}

.nav-buttons a:hover {
    color: #F0F0F0;
}
